# \e[32m - Green, \e[36m - Cyan, \e[92m - Red, \e[0m - Null
# Menu name
# Variable name
# Limit condition
# Limit string
# Input text
# Input value
# Default value
# Value limit
#--> Threaded Optimizations
Enable threaded optimizations
amd_to
[[ "$(lspci | grep -i --color 'vga\|3d\|2d')" == *"AMD"* ]]
\e[92mOnly\e[0m for \e[32mAMD video card\e[0m
none
mesa_glthread=true
none
none

#--> ACO Vulkan Compiler
Enable radeon ACO vulkan compiler
amd_aco
[[ "$(lspci | grep -i --color 'vga\|3d\|2d')" == *"AMD"* ]]
\e[92mOnly\e[0m for \e[32mAMD video card\e[0m
none
RADV_PERFTEST=aco
none
none
